- use pnpm
- Always use stores (src/app/stores) for state management. The api calling is also in stores
- Use spinner (src/app/components/root/spinner) for the loading indicator
- Use this format when creating a new UI component:

```
interface IProfileSectionProps {
  user: IUser
}

const ProfileSection = ({ user }: IProfileSectionProps) => {}) => {
    return (
        // ...
    )
}

export default ProfileSection
```

All interfaces must have prefix `I`. If a component does not require props, you can skip interface declaration. The file name is reflecting the component name with this format 'a-b-c.tsx'. Same for the '.ts' file

- Try to split the big components into smaller components and put them into src/app/components/{feature}. Use index.ts for exporting

- When generating the UI, follow these rules:

- No background
- No shadow
- Border radius 12px (rounded-xl in Tailwind)
- No outline (if capable)

- Always define the model (interface) for the data structure at src/app/models. If working with the enum, declare a dedicated type for them too
- For the mock data, declare them at src/mock
- Always use i18n and declare them at src/i18n/locales (both "en" and "vi"). The correct format is `key: value` in the JSON file
- Always use '@' for importing instead of relative path './'
- If you need to manipulate with string, number, date, ... add the function to the appropriate file in src/lib
- No code comments
- Use try/catch at appropriate places
